@import "tailwindcss";

* {
  box-sizing: border-box;
  list-style: none;
}

.my-cursor {
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
}

.large {
  width: 70px;
  height: 70px;
}